<!DOCTYPE html>
<html>
<head>
	<title>dash.js</title>
	<style>
		@import url(http://fonts.googleapis.com/css?family=McLaren|Open+Sans:400,300,600);
		body {
			max-width: 500px;
			margin: 0 auto;
			font-family: "Open sans", sans-serif;
		}
		h2 {
			font-family: "McLaren";
		}
		i {
			text-transform: none;
			font-style: normal;
		}
		.search {
			font-family: inherit;
		}
		.search i {
			background-color: #D7FFEC;
		}
		.result {
			background-color: #eee;
			padding: 5px;
			border-radius: 3px;
			font-family: monospace;
		}
	</style>
</head>
<body>
	<h2>Search</h2>
	<div class="ctx-1">
		<div class="search">
			<p>Hello my name is {{it.name}} {{it.lastname}}!</p>
			<p>And my age is {{it.age}}!</p>
		</div>
		<div class="result"></div>
	</div>
	
	<h2>Create your own data</h2>
	<div class="ctx-2">
		<div class="search">
			<p>Hello my name is <i>Jan</i> <i>Biasi</i></p>
			<p>And my age is <i>17</i>!</p>
		</div>
		<div class="result"></div>
	</div>

	<h2>Replace the Data with your Object</h2>
	<div class="ctx2">
		<div class="search">
			<p>Hello my name is {{it.name}} {{it.lastname}}!</p>
			<p>And my age is {{it.age}}!</p>
		</div>
		<div class="result">

		</div>
	</div>

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="dash.js"></script>
	<script>
		// Find Spaces
		var $ps = $('.ctx-1 .search p');
		var m = dash.getMatches($ps.text());
		$('.ctx-1 .result').append(dash.stringify(m));

		// Retrieve Data
		var dat = {name: "Jan", lastname: "Biasi", age: "17"};
		$('.ctx-2 .result').append(dash.stringify(dat));

		// Replace Spaces with Data
		
	</script>
</body>
</html>